---
layout: default-primary
title: Andrew Lohman
---



<!-- {% for post in site.articles %}

<article class="writings">
	<header class="writings-content-header">
		<div class="content-title">
			<h2><a href="/writings/post-1.html">{{ page.title }}</a></h2>
			<time>{{ page.date | date: '%B %d, %Y' }}</time>
		</div>
	</header>
		        
	{{ post.content }}
</article>
		        

{% endfor %} -->

<main class="main-content">
	<div class="wrapper">

	<h2>Writings</h2>
	<!-- Writings -->
	{% for post in site.articles limit:1 %}

	    {% if (post.images) %}
	    <a href="{{ post.url }}" title="{{ post.title }}"><img src="{{ post.images[0] | format_main_image }}" /></a>
	    {% endif %}
	        
	    <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
	    
	    {{ post.description }}

	{% endfor %}

	</div>
</main>

<main class="main-content">
	<div class="wrapper">

	<h2>Findings</h2>
	<!-- Findings -->
	{% for post in site.articles limit:1 offset:1 %}

	    {% if (post.images) %}
	    <a href="{{ post.url }}" title="{{ post.title }}"><img src="{{ post.images[0] | format_main_image }}" /></a>
	    {% endif %}
	        
	    <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
	    
	    {{ post.description }}

	{% endfor %}

	</div>
</main>

<main class="main-content">
	<div class="wrapper">

	<h2>About</h2>

	{% for post in site.articles limit:4 offset:3 %}

    <div class="span2">

      <div class="teaser">
        <div class="keyword"><a href="/tags/{{ post.tags[0] | slugify }}/" class="tag-link">{{ post.tags[0] }}</a></div>
        {% if (post.images) %}<div class="image"><a href="{{ post.url }}" title="{{ post.title }}"><img src="{{ post.images[0] | format_main_image }}" /></a></div>{% endif %}
        <div class="title"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></div>
        <div class="read-more"><a href="{{ post.url }}" title="{{ post.title }}">The whole story... »</a></div>
      </div>

    </div>

  {% endfor %}

</div>

<div class="fourth row">

  {% for post in site.articles limit:4 offset:7 %}

    <div class="span2">

      <div class="teaser">
        <div class="keyword"><a href="/tags/{{ post.tags[0] | slugify }}/" class="tag-link">{{ post.tags[0] }}</a></div>
        {% if (post.images[0]) %}<div class="image"><a href="{{ post.url }}" title="{{ post.title }}"><img src="{{ post.images[0] | format_main_image }}" /></a></div>{% endif %}
        <div class="title"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></div>
        <div class="read-more"><a href="{{ post.url }}" title="{{ post.title }}">More! »</a></div>
      </div>

    </div>

  {% endfor %}

</div>