/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// @import "compass/reset";

@import "normalize";
// @import "foundation";

// @import "variables"
// @import "type"
// @import "header"

// site variables

// ======================================================
// fonts variables - size, line-height, color
// ======================================================

// fonts
$serif-font:"freight-text-pro",sans-serif;
$sans-serif-font:"proxima-nova",sans-serif;

$color-primary:#333333;


// media queries
$medium:40rem;
$large:60rem;

// ======================================================
// Global
// ======================================================
html, body {
	background-color: #ffffff;
	color: $color-primary;
}

a {
	color: $color-primary;
	text-decoration:none;
	border-bottom: 1px dotted $color-primary;
}

img {
	width:100%;
}



.article {
	.content-header {
		width:100%;
		max-width:600px;
		background:#ffffff;
		margin:0 auto;
	}
	.content-body {
		.content-lead {
			width:100%;
			max-width:600px;
			background:yellow;
			margin:0 auto;
		}
		p {
			width:100%;
			max-width:600px;
			background:plum;
			margin:0 auto;
		}
		.pull {
			width:100%;
			max-width:900px;
			background:#000000;
			margin:0 auto;
			padding:20px 0;
		}
	}
}









// ======================================================
// wrapper
// ======================================================

// wrapper
$wrapper: 1140px;

.wrapper {
	background:#ffffff;
	width:90%;
	max-width:$wrapper;
	padding:0 5%;
	margin:0 auto;
	overflow:hidden;
}



// ======================================================
// Headers
// ======================================================
h1, h2 , h3{
	font-family:$sans-serif-font;
	font-weight:600;
}

h1 {
	text-transform: uppercase;
}

// ======================================================
// header and nav
// ======================================================

header.main-header {
	background:whitesmoke;
	text-align:center;
	margin:80px 0 0 0;
	padding:100px 0;
		.main-title-prefix {
			z-index:1;
			// background:blue;
			position:fixed;
			width:100px;
			left: 50%;
			margin-left: -50px;
			margin-top:-155px;
			.logo {
				width:70px;
			}
		}
		.main-title-suffix {
			z-index:1;
			// background:red;
			position:fixed;
			width:300px;
			left: 50%;
			margin-left: -150px;
			margin-top:-60px;
		}
}

nav {
	ul.main-nav-list {
		z-index:1;
		// background:red;
		position:fixed;
		width:300px;
		left: 50%;
		margin:0 0 0 -150px;
		padding:0;
		li {
			display:inline;
			margin:0;
			padding:0 10px;
		}
	}
}


.main-content {
	position:relative;
	z-index:2;
}


// ======================================================
// misc
// ======================================================
.pager {
	display: block;
	overflow: hidden;
	margin: 5rem 0;
	.previous {
		float:left;
		width:auto;
	}
	.next {
		float:right;
		width:auto;
	}
}



// ======================================================
// footer
// ======================================================
footer.main-footer {
	background:whitesmoke;
	padding:270px 0 320px 0;
	text-align:center;
}

