/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// @import "compass/reset";

@import "normalize";
// @import "foundation";

// site variables

$primary-color: #333;

// background colors
$primary-bg-color: #eee;
$secondary-bg-color: #333;
$body-bg-color:#fff;

// text and header colors
$primary-header-color: #3a3a3c;
$primary-text-color:#3a3a3c;

body {
	background:$body-bg-color;
	color: $primary-text-color;
}

header.main-header {
	background:$primary-bg-color;
	padding:4em 0;
}
.main-header>.wrapper {
	max-width:800px;
	margin:0 auto;
	padding:0 1rem;
}

.main-content>.wrapper {
	max-width: 600px;
	margin: 0 auto;
	padding:0 1rem;
}

h1, h2 {
	text-align:center;
	color:$primary-header-color;
}

ul.main-nav-list {
	text-align:center;
	margin:0;
	padding:0;
}

.main-nav-list li {
	display:inline;
	padding:0 0.75rem;
}

footer.main-footer {
	background:$primary-bg-color;
	padding:4em 0;
}

