---
layout: default
---

<main class="main-content">
	<article class="projects">
		{{ content }}

		<div class="wrapper">
			<footer class="content-footer">
				<p><a href="/writings">Project Archive &#8594;</a></p>

{% if page.previous.url %} 
                <a href="{{page.previous.url}}" title="Previous Post: 
{{page.previous.title}}">&laquo; {{page.previous.title}}</a> 
        {% endif %} 

        {% if page.next.url %} 
                <a href="{{page.next.url}}" title="next Post: 
{{page.next.title}}">{{page.next.title}} &raquo; </a> 
        {% endif %}
				

			</footer>
		</div>
	</article>
</main>



		<!-- <section> -->
			<!-- <h3>Recent articles</h3>
			<ul class="vertical-list">
				{% for post in site.categories['articles'] limit:5 %}
				<li class="vertical-listing"><a href="{{post.url}}">{{post.title}}</a></li>
				{% endfor %}
			</ul> -->
			<!-- <footer>
				<p><a href="/writings">Writing Archive &#8594;</a></p>
			</footer>
		</section> -->
		<!-- <footer>
			<p>Follow @ajlohman on Twitter</p>
		</footer> -->

		<!-- {% if page.previous.url %} 
                <a href="{{page.previous.url}}" title="Previous Post: 
{{page.previous.title}}">&laquo; {{page.previous.title}}</a> 
        {% endif %} 

        {% if page.next.url %} 
                <a href="{{page.next.url}}" title="next Post: 
{{page.next.title}}">{{page.next.title}} &raquo; </a> 
        {% endif %}  -->

        
        <!-- {% if page.previous.url %}
            <a href="{{ page.previous.url }}">{{ page.previous.title }}</a>
        {% endif %}

        {% if page.next.url %}
            <a href="{{ page.next.url }}">{{ page.next.title }}</a>
        {% endif %} -->

	<!-- </div>
</main> -->
