---
layout: default
---

<main class="main-content">
	<article class="work">
		{{ content }}

		<div class="wrapper">
			<footer class="content-footer">

				<div class="wrapper-md" style="backgorund:pink;">
					{% if page.next_in_category != nil %} 
						<a href="{{page.next_in_category.url}}" class="next-link">Next</a>
					{% endif %} 

					<a href="/projects">Project Archive</a>

					
					{% if page.previous_in_category != nil %}
						<a href="{{page.previous_in_category.url}}" class="previous-link">Previous</a>
					{% endif %}
				</div>				

			</footer>
		</div>
	</article>
</main>